<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031635315557-fvipdr71tnckv855g4g4andumf41ite0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031635315557-fvipdr71tnckv855g4g4andumf41ite0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1031635315557-vh1tft5qhbpvrh11mnmj58bqtbjtcdja.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQyy4aAyMKZd759XK4RRwNCBl9JGCk990</string>
	<key>GCM_SENDER_ID</key>
	<string>1031635315557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezofis.mobile</string>
	<key>PROJECT_ID</key>
	<string>ezofis-v5-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>ezofis-v5-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031635315557:ios:9425fc94cf50f854ab4f8c</string>
</dict>
</plist>